APP_URL=http://localhost:8000

OCTANE_SERVER=frankenphp

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=!ChangeMe
DB_USERNAME=!ChangeMe
DB_PASSWORD=!ChangeMe

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=redis

NEXT_PUBLIC_BACKEND_URL=http://backend:8000/api
