APP_URL=http://localhost:8000

OCTANE_SERVER=frankenphp

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=!ChangeMe
DB_USERNAME=!ChangeMe
DB_PASSWORD=!ChangeMe

TEST_DB_CONNECTION=pgsql
TEST_DB_HOST=!ChangeMeTheSameAsInEnvTesting
TEST_DB_PORT=5433
TEST_DB_DATABASE=!ChangeMeTheSameAsInEnvTesting
TEST_DB_USERNAME=!ChangeMeTheSameAsInEnvTesting
TEST_DB_PASSWORD=!ChangeMeTheSameAsInEnvTesting

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=redis

NEXT_PUBLIC_BACKEND_URL=http://backend:8000/api

KUBE_NAMESPACE=dev
KUBE_HOST=<host>
# microk8s | minikube
KUBE_TYPE=microk8s
