#should contain variables that are for kubernetes build images docker-compose.yaml
DB_HOST=<should have kubernetes service name>
REDIS_HOST=<should have kubernetes service name>

# These needed for other pods like cron, queue, so on
POSTGRES_DB=<same as .env>
POSTGRES_USER=<same as .env>
POSTGRES_PASSWORD=<same as .env>
