APP_KEY=<some_api_key>

APP_ENV=testing
DB_CONNECTION=pgsql
DB_HOST=<some_test_db>
DB_PORT=5432
DB_DATABASE=<some_test_laravel>
DB_USERNAME=<some_test_laravel>
DB_PASSWORD=<password>

CACHE_STORE=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
MAIL_MAILER=array

SUPER_ADMIN_EMAIL=<sometestforadmin@mail.com>
