# ============================================================
# APPLICATION / SESSION
# ============================================================
APP_NAME=Laravel
# local|production|testing
APP_ENV=production
APP_KEY=!ChangeMe!
APP_DEBUG=false
APP_URL=http://localhost
# used in email links
FRONTEND_URL=!RealUrl!

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

OCTANE_SERVER=frankenphp

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
# SESSION_PATH=/
SESSION_DOMAIN=null

# this variable should correspond with domain used in kube
SANCTUM_STATEFUL_DOMAINS=<domain1.com,domain2.com>

# ============================================================
# DATABASE
# ============================================================
DB_CONNECTION=pgsql
# Kubernetes service hostname used by Laravel at runtime
DB_HOST=<should have kubernetes service name>
DB_PORT=5432
DB_DATABASE=!ChangeMe!
DB_USERNAME=!ChangeMe!
DB_PASSWORD=!ChangeMe!

# These needed for other pods like cron, queue, so on
POSTGRES_DB=!ChangeMe!
POSTGRES_USER=!ChangeMe!
POSTGRES_PASSWORD=!ChangeMe!

# ============================================================
# APPLICATION SERVICES
# ============================================================
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

# ============================================================
# REDIS
# ============================================================
REDIS_CLIENT=phpredis
# Kubernetes service hostname used by Laravel at runtime
REDIS_HOST=<should have kubernetes service name>
REDIS_PASSWORD=null
REDIS_PORT=6379

# ============================================================
# MAIL
# ============================================================
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME="!ChangeMe!"
MAIL_PASSWORD=!ChangeMe!
MAIL_FROM_ADDRESS="!ChangeMe!"
MAIL_FROM_NAME="${APP_NAME}"

MAIL_ADMIN_ADDRESS="!ChangeMe!"
MAIL_ADMIN_NAME="Store Admin"

# ============================================================
# ADMIN
# ============================================================
SUPER_ADMIN_EMAIL=!ChangeMe!
SUPER_ADMIN_PASSWORD=!ChangeMe!

# ============================================================
# CJ
# ============================================================
CJ_API_KEY=!ChangeMe!
DS_SANDBOX=1

# ============================================================
# GOOGLE
# ============================================================
GOOGLE_CLIENT_ID=!ChangeMe!
GOOGLE_CLIENT_SECRET=!ChangeMe!
GOOGLE_REDIRECT_URI=!ChangeMe!

# ============================================================
# PAYMENTS
# ============================================================
WFP_MERCHANT_ACCOUNT=!ChangeMe!
WFP_MERCHANT_SECRET=!ChangeMe!
WFP_RETURN_URL=https://!ChangeMe!/checkout
WFP_SERVICE_URL=https://!ChangeMe!/api/payments/wayforpay/webhook

LIQPAY_PUBLIC_KEY=!ChangeMe!
LIQPAY_PRIVATE_KEY=!ChangeMe!
LIQPAY_RETURN_URL=https://!ChangeMe!/checkout
LIQPAY_SERVER_URL=https://!ChangeMe!/api/store/payments/liqpay/webhook
